<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 

 {% include 'material/includes/material_css.html' %}
  {% include 'material/includes/material_js.html' %}
  {% load material_form %}
<html class="no-js" lang="ES"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Miguel Arreaza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/normalize.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/estilo2.css">
        <link rel="stylesheet" href="../static/css/style.css">

        <script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <header>
           <div id="logo">
               <figure>
                   <img src="../static/img/images.png" alt="">
               </figure>
               </div>
               <div id="texto">
               <h1>Bienvenido  {{ name }}</h1>
               <p><a class="btn " href="#"> Cerrar sesión </a></p>
               
              

       </header>


        <div id="contenedor">
            <h5>CHAT</h5>        
            {% for comment in comments%} 
              <div id="users">
                  <p> <strong>{{ comment.user }}</strong> : {{ comment.comment }}</p>
            </div>  


            {% endfor %}

            <section>
              <div id="cont">
                <form method="POST">
                  <h6>Messages</h6>
                  {% csrf_token %}
                  {{ form.comment}}
                  <button id="miboton" type="submit" name="_submit" class="btn">Enviar</button>
                </form>
            </section>
      </div>


            



        <div id="contenido">
        <div id="post">
            <div id="avatar">
              <figure>
                <img src="../static/img/mg.jpeg" alt="avatar">
              </figure>
            </div>
            <div id="titulo">
               <h2>titulos</h2>
            </div>
              <div id="cont">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio aliquam nostrum repellat provident debitis eligendi ratione voluptas doloremque! Fuga provident sunt quia, excepturi incidunt repellat temporibus dicta sapiente cum.</p>
              </div>
        </div>

        <div id="post">
            <div id="avatar">
              <figure>
                <img src="../static/img/mg.jpeg" alt="avatar">
              </figure>
            </div>
            <div id="titulo">
               <h2>titulos</h2>
            </div>
              <div id="cont">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio aliquam nostrum repellat provident debitis eligendi ratione voluptas doloremque! Fuga provident sunt quia, excepturi incidunt repellat temporibus dicta sapiente cum.</p>
              </div>
        </div>
        <div id="post">
            <div id="avatar">
              <figure>
                <img src="../static/img/mg.jpeg" alt="avatar">
              </figure>
            </div>
            <div id="titulo">
               <h2>titulos</h2>
            </div>
              <div id="cont">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio aliquam nostrum repellat provident debitis eligendi ratione voluptas doloremque! Fuga provident sunt quia, excepturi incidunt repellat temporibus dicta sapiente cum.</p>
              </div>
        </div>
        <div id="post">
            <div id="avatar">
              <figure>
                <img src="../static/img/mg.jpeg" alt="avatar">
              </figure>
            </div>
            <div id="titulo">
               <h2>titulos</h2>
            </div>
              <div id="cont">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio aliquam nostrum repellat provident debitis eligendi ratione voluptas doloremque! Fuga provident sunt quia, excepturi incidunt repellat temporibus dicta sapiente cum.</p>
              </div>
        </div>
        </div>


           

      <footer>
        <p>Html5 css3 Javascript Algo Mas que un Hola mundo</p>
      </footer>
      <script src="http://localhost:3000/socket.io/socket.io.js"></script>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
       

       <script>

        var socket = io.connet("http://localhost:3000/socket.io/socket.io.js")

       </script>

    </body>
</html>
